@charset "UTF-8";
/* CSS Document */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}
ul,
li,
div,
p,
body,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #2a2a2a;
}
input {
  -webkit-appearance: none;
  outline: none;
}
* {
  outline: none;
  webkit-focus-ring-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.hide {
  display: none;
}
body,
html {
  width: 100%;
  height: 100%;
  font-family: "Microsoft YaHei", "Helvetica Neue", Arial, HelveticaNeue, Helvetica, "BBAlpha Sans", sans-serif;
  font-weight: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
}

/* *{-webkit-backface-visibility: hidden;-moz-backface-visibility: hidden;-ms-backface-visibility: hidden;backface-visibility: hidden;} 用于解决某些情况下出现闪屏的问题，若无则不加*/
body {
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}
p,
a,
li {
  font-size: 1.2rem;
  color: #434343;
}
html {
  font-size: 312.5%;
}
@media screen and (max-width: 359px) and (orientation: portrait) {
  html {
    font-size: 266.67%;
  }
}
@media screen and (min-width: 360px) and (max-width: 374px) and (orientation: portrait) {
  html {
    font-size: 300%;
  }
}
@media screen and (min-width: 384px) and (max-width: 399px) and (orientation: portrait) {
  html {
    font-size: 320%;
  }
}
@media screen and (min-width: 400px) and (max-width: 413px) and (orientation: portrait) {
  html {
    font-size: 333.33%;
  }
}
@media screen and (min-width: 414px) and (max-width: 431px) and (orientation: portrait) {
  html {
    font-size: 345%;
  }
}
@media screen and (min-width: 432px) and (max-width: 479px) and (orientation: portrait) {
  html {
    font-size: 360%;
  }
}
@media screen and (min-width: 480px) and (max-width: 639px) and (orientation: portrait) {
  html {
    font-size: 400%;
  }
}
@media screen and (min-width: 640px) and (orientation: portrait) {
  html {
    font-size: 533.33%;
  }
}
.fw {
  display: block;
  color: #8d2622;
  font-size: 0.48rem;
  font-weight: bold;
  position: relative;
  top: 2.7rem;
}
.f {
  width: 4.22rem;
  height: 1rem;
  background: #fbf4e5;
  line-height: 1rem;
  text-align: center;
  border-radius: 0.1rem;
  margin: 0 auto;
  color: #8d2622;
  border: none;
  font-size: 0.55rem;
  position: relative;
  top: 2.4rem;
}
.btn {
  background: url(../images/bg03_02.png) no-repeat 0 0;
  background-size: 5.93rem 5.9rem;
  width: 3.5rem;
  height: 1.1rem;
  margin: 0 auto;
  line-height: 1rem;
  position: relative;
  top: 4.4rem;
}
#landscape_wrap {
    width: 100%; height: 100%; position: absolute; left: 0; top: 0; bottom: 0; right: 0; display: none; background: rgba(0,0,0,0.6);
}
#landscape_wrap p {
    width: 100%; position: absolute; left: 0; top: 50%; margin-top: -1.5rem; text-align: center; color: #ffffff; font-size: 2rem; line-height: 3rem;
}
/*--------------------------------------------------index.html-------------------------------------------*/
.wrapper {
  width: 100%;
  height: 13.34rem;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.wrapper a{
  border: 0
}
.bg01,
.bg02 {
  width: 7.5rem;
  height: 13.34rem;
  margin: 0 auto;
}
.bg01 {
  background: url(../images/bg01.png) no-repeat;
  background-size: 7.5rem 4.63rem;
}
.bg02 {
  background: url(../images/bg02.png) no-repeat center 4.6rem;
  background-size: 7.5rem 8.74rem;
}
.bg01 a {
  display: block;
  width: 3.56rem;
  height: 1.06rem;
  position: relative;
  border: 0;
  top: 11.3rem;
  margin: 0 auto;
}
/*--------------------------------------------------page01.html-------------------------------------------*/
.bg03 {
  background: url(../images/bg03.jpg) no-repeat;
  background-size: 7.5rem 13.34rem;
  width: 7.5rem;
  height: 13.34rem;
  margin: 0 auto;
  text-align: center;
}
.bg03,#section1,#section2,#section3,#section4,#section5,#section6{
  -webkit-transition: transform 0.8s ease-in 0s;
  -moz-transition: transform 0.8s ease-in 0s;
  -ms-transition: transform 0.8s ease-in 0s;
  -o-transition: transform 0.8s ease-in 0s;
  transition: transform 0.8s ease-in 0s;
}

.bg03_01 {
  background: url(../images/bg03_01.png) no-repeat;
  background-size: 7.5rem 7.64rem;
  width: 7.5rem;
  height: 7.64rem;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 3.6rem;
}
.bg03_02 {
  background: url(../images/bg03_01.png) no-repeat;
  background-size: 7.5rem 7.64rem;
  width: 7.5rem;
  height: 7.64rem;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 3.6rem;
}
.fw2 {
  top: 2.3rem;
}
.q2 li {
  background: url(../images/bg03_02.png) no-repeat 0 -1.2rem;
  background-size: 5.93rem 6.2rem;
  width: 5.93rem;
  height: 1.94rem;
  position: relative;
  top: 3rem;
  margin: 0 auto;
  text-align: left;
  font-size: 0.45rem;
  line-height: 1.8rem;
  text-indent: 1.14rem;
  color: #8d2622;
}
.q2 li.active{
	background: url(../images/btns.png) no-repeat 0 -4.49rem;
	background-size: 6.13rem 6.34rem;
}
.q3-bg {
  background: url(../images/q3.png) no-repeat;
  background-size: 7.5rem;
  height: 4.63rem;
  position: relative;
  top: 3.3rem;
}
.q3 {
  position: relative;
  top: 4rem;
}
.q3 li {
  width: 2.21rem;
  height: 1.14rem;
  line-height: 1.14rem;
  background: url(../images/bg03_02.png) no-repeat -3.6rem 0;
  background-size: 5.93rem 5.9rem;
  font-size: 0.36rem;
  display: inline-block;
  color: #8d2622;
}
.q3 li.active{
	background: url(../images/btns.png) no-repeat -3.71rem -1.25rem;
	background-size: 6.13rem 6.34rem;
}
#section1 .btn:active{
	background: url(../images/btns.png) no-repeat 0 -1.25rem;
	background-size: 6.13rem 6.34rem;
	width: 3.6rem;
  height: 1.2rem;
	
}
.model {
  display: none;
}
.model .mask {
  position: fixed;
  width: 7.5rem;
  height: 13.34rem;
  margin: 0 auto;
  background: black;
  opacity: 0.7;
  top: 0;
  left: 50%;
  margin-left: -3.75rem;
  z-index: 1000;
}
.model .share {
  width: 6.02rem;
  height: 4.61rem;
  background: url(../images/share.png) no-repeat;
  background-size: 6.02rem 4.61rem;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -3.01rem;
  z-index: 1000;
}
.model .mask01,
.model .mask02,
.model .mask04,
.model .mask05,
.model .mask06 {
  width: 7.5rem;
  heigtht: 9.96rem;
  position: absolute;
  top: 2rem;
  bottom: 0;
  font-size: 0.36rem;
  color: #8d2622;
  text-align: center;
  z-index: 9999;
}
.model .mask01 p,
.model .mask02 p,
.model .mask04 p,
.model .mask05 p,
.model .mask06 p {
  font-size: 0.45rem;
  color: #8d2622;
  margin-top: 0.9rem;
}
.model .mask01 a,
.model .mask02 a,
.model .mask04 a,
.model .mask05 a,
.model .mask06 a {
  border: 0;
  display: block;
  background: url(../images/bg03_02.png) no-repeat 0 0;
  background-size: 5.93rem 5.9rem;
  width: 3.5rem;
  height: 1.1rem;
  line-height: 1.1rem;
  font-size: 0.48rem;
  font-weight: bold;
  color: #8d2622;
  margin: 0 auto;
  margin-top: 6.4rem;
}
.model .mask01 {
  background: url(../images/mask01.png) no-repeat;
  background-size: 7.5rem 9.96rem;
  left: 50%;
  margin-left: -3.75rem;
}
.model .mask02 {
  background: url(../images/mask02.png) no-repeat;
  background-size: 7.5rem 9.96rem;
  left: 50%;
  margin-left: -3.75rem;
}
.model .mask02 a {
  margin-top: 6.8rem;
}
.model .mask04 {
  background: url(../images/mask04.png) no-repeat;
  background-size: 7.5rem 9.96rem;
  left: 50%;
  margin-left: -3.75rem;
}
.model .mask05 {
  background: url(../images/mask05.png) no-repeat;
  background-size: 7.5rem 9.96rem;
  left: 50%;
  margin-left: -3.75rem;
}
.model .mask05 p {
  margin-top: 0.4rem;
}
.model .mask06 {
  background: url(../images/mask06.png) no-repeat;
  background-size: 7.5rem 9.96rem;
  left: 50%;
  margin-left: -3.75rem;
}
.model .mask06 p {
  margin-top: 0.8rem;
}
.model .mask06 a {
  margin-top: 6.5rem;
}
.result01,
.result02 {
  width: 7.5rem;
  height: 13.34rem;
  background: url(../images/bg_result.jpg) no-repeat;
  background-size: 7.5rem 13.34rem;
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: 999;
}
.result01 .fun01,
.result02 .fun01 {
  background: url(../images/result05.png) no-repeat;
  background-size: 7.5rem 13.34rem;
  width: 7.5rem;
  height: 13.34rem;
  position: absolute;
  bottom: 0;
}
.result01 .fun02,
.result02 .fun02 {
  background: url(../images/result04.png) no-repeat;
  background-size: 2.1rem 2.81rem;
  width: 2.1rem;
  height: 2.81rem;
  position: absolute;
  left: 50%;
  margin-left: -1.05rem;
  top: 10.5rem;
  z-index: 99;
}
.result01 .fun03,
.result02 .fun03 {
  background: url(../images/result03.png) no-repeat;
  background-size: 2.1rem 2.81rem;
  width: 2.1rem;
  height: 2.81rem;
  position: absolute;
  left: 50%;
  margin-left: -1.05rem;
  top: 10.5rem;
  z-index: 99;
}
.result01 .fun04,
.result02 .fun04 {
  background: url(../images/result02.png) no-repeat;
  background-size: 2.1rem 2.81rem;
  width: 2.1rem;
  height: 2.81rem;
  position: absolute;
  left: 50%;
  margin-left: -1.05rem;
  top: 10.5rem;
  z-index: 99;
}
.result01 .fun05,
.result02 .fun05 {
  background: url(../images/result01.png) no-repeat;
  background-size: 2.16rem 3.04rem;
  width: 2.16rem;
  height: 3.04rem;
  position: absolute;
  top: 10.28rem;
  z-index: 99;
}
.result01 p,
.result02 p {
  font-size: 0.43rem;
  color: #8d2622;
  position: absolute;
  left: 50%;
  margin-left: -1.935rem;
  top: 5.4rem;
}
.result01 .btns,
.result02 .btns {
  position: relative;
  top: 6.8rem;
}
.result01 .btns .btn1,
.result02 .btns .btn1 {
  background: url(../images/bg03_02.png) no-repeat 0 -4.23rem;
  background-size: 5.93rem 5.9rem;
  width: 4.43rem;
  height: 1.2rem;
  line-height: 1.1rem;
  font-size: 0.45rem;
  color: #8d2622;
  margin: 0 auto;
}
.result01 .btns .btn2,
.result02 .btns .btn2 {
  display: block;
  background: url(../images/bg03_02.png) no-repeat 0 -3rem;
  background-size: 5.93rem 5.9rem;
  width: 4.43rem;
  height: 1.2rem;
  line-height: 1.1rem;
  font-size: 0.45rem;
  color: #8d2622;
  margin: 0 auto;
}

.pikaday__container{
	top: 2.4rem;
}

.h{
  height: 13.34rem;
}

.result_transform1{
  -webkit-transform: translate3d(0,-26.70rem,0);
  -moz-transform: translate3d(0,-26.70rem,0);
  -ms-transform: translate3d(0,-26.70rem,0);
  -o-transform: translate3d(0,-26.70rem,0);
  transform: translate3d(0,-26.70rem,0);
}

.result_transform2{
  -webkit-transform: translate3d(0,-40rem,0);
  -moz-transform: translate3d(0,-40rem,0);
  -ms-transform: translate3d(0,-40rem,0);
  -o-transform: translate3d(0,-40rem,0);
  transform: translate3d(0,-40rem,0);
}

.result_transform3{
  -webkit-transform: translate3d(0,-53.30rem,0);
  -moz-transform: translate3d(0,-53.30rem,0);
  -ms-transform: translate3d(0,-53.30rem,0);
  -o-transform: translate3d(0,-53.30rem,0);
  transform: translate3d(0,-53.30rem,0);
}

.result_transform4{
  -webkit-transform: translate3d(0,-66.70rem,0);
  -moz-transform: translate3d(0,-66.70rem,0);
  -ms-transform: translate3d(0,-66.70rem,0);
  -o-transform: translate3d(0,-66.70rem,0);
  transform: translate3d(0,-66.70rem,0);
}

.result_transform5{
  -webkit-transform: translate3d(0,-80.04rem,0);
  -moz-transform: translate3d(0,-80.04rem,0);
  -ms-transform: translate3d(0,-80.04rem,0);
  -o-transform: translate3d(0,-80.04rem,0);
  transform: translate3d(0,-80.04rem,0);
}

.transform,.transform1{
  -webkit-transform: translate3d(0,-13.34rem,0);
  -moz-transform: translate3d(0,-13.34rem,0);
  -ms-transform: translate3d(0,-13.34rem,0);
  -o-transform: translate3d(0,-13.34rem,0);
  transform: translate3d(0,-13.34rem,0);
}

.transform2{
  -webkit-transform: translate3d(0,-26.68rem,0);
  -moz-transform: translate3d(0,-26.68rem,0);
  -ms-transform: translate3d(0,-26.68rem,0);
  -o-transform: translate3d(0,-26.68rem,0);
  transform: translate3d(0,-26.68rem,0);
}

.transform3{
  -webkit-transform: translate3d(0,-40rem,0);
  -moz-transform: translate3d(0,-40rem,0);
  -ms-transform: translate3d(0,-40rem,0);
  -o-transform: translate3d(0,-40rem,0);
  transform: translate3d(0,-40rem,0);
}

.transform4{
  -webkit-transform: translate3d(0,-53.36rem,0);
  -moz-transform: translate3d(0,-53.36rem,0);
  -ms-transform: translate3d(0,-53.36rem,0);
  -o-transform: translate3d(0,-53.36rem,0);
  transform: translate3d(0,-53.36rem,0);
}

.transform5{
  -webkit-transform: translate3d(0,-66.72rem,0);
  -moz-transform: translate3d(0,-66.72rem,0);
  -ms-transform: translate3d(0,-66.72rem,0);
  -o-transform: translate3d(0,-66.72rem,0);
  transform: translate3d(0,-66.72rem,0);
}

.transform0{
  -webkit-transform: translate3d(-7.5rem,0,0);
  -moz-transform: translate3d(-7.5rem,0,0);
  -ms-transform: translate3d(-7.5rem,0,0);
  -o-transform: translate3d(-7.5rem,0,0);
  transform: translate3d(-7.5rem,0,0);
}

.shake{
  -webkit-animation: mask_shake 2s ease 0s 1;
  -o-animation: mask_shake 2s ease 0s 1;
  animation: mask_shake 2s ease 0s 1;
}

@keyframes mask_shake{
  0%{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  4%{
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  12.5%{
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  21%{
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  50%,100%{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

}